<%- include('header') %>    <!-- ejs syntax - include header -->

    <div class="container">
        <div>
            <a href="/add_product">
                <button class="btn">Add new product</button>
            </a>
        </div>

        <form action="/" method="POST">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i < products.length; i++) { %>
                        <tr>
                            <td>
                                <%= i + 1 %>
                            </td>
                            <td>
                                <%= products[i].name %>
                            </td>
                            <td>
                                <%= products[i].price %>
                            </td>
                            <td>
                                <%= products[i].category %>
                            </td>
                            <td>
                                <%= products[i].status %>
                            </td>
                            <td>
                                <a href="/update_product">
                                    <button>Update</button>
                                </a>
                                <button class="btn-delete">Delete</button>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </form>
    </div>

    <%- include('footer') %>